@font-face {
    font-family: "Lato";
    src: url(https://gu-st.ru/portal-st/lib-assets//fonts/Lato-Regular.woff2) format('woff2'),
    url(https://gu-st.ru/portal-st/lib-assets//fonts/Lato-Regular.woff2) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato-Bold";
    src: url(https://gu-st.ru/portal-st/lib-assets//fonts/Lato-Bold.woff2) format("woff2"),
    url(https://gu-st.ru/portal-st/lib-assets//fonts/Lato-Bold.woff2) format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;

}